﻿
@{
    ViewBag.Title = "AddUser";
    if (Session["Name"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
@model ThucTap.Models.UserModel

<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <meta name="viewport" content="width-device-width"/>
</head>
<body>

    <label>
        <a href="~/Home/Index">Home</a>
    </label>
    <div>
        @*@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
        {
            <div class="alert alert-
       <strong>Error!</strong> danger">@ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
        }*@
    </div>
    <form action="/User/AddUser" method="post">
        <div>
            Code: @Html.TextBoxFor(model => model.Code, new { @class = "form-control", placeholder = "UserName" })
        </div>
        <samp> Name</samp>
        <div>
            Name: @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
        </div>
        <div>
            Password: @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
        </div>
        </br>
        <div>
            @if (ViewBag.ErrorMessage == null)
            {
            }
            else
            {
                <p class="alert alert-danger">@ViewBag.ErrorMessage </p>
            }

            @if (ViewBag.Message == null)
            {

            }
            else
            {
                <p class="alert alert-danger">@ViewBag.Message </p>
            }
            <input class="btn btn-success" type="submit" name="name" value="ADD" />
        </div>
        

    </form>


</body>
</html>
