﻿
@{
    ViewBag.Title = "DisplayUser";
    if (Session["Name"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
@model List<ThucTap.Models.User>

<div>
    <a href="~/Home/Index">Home</a>
</div>

<h2>DisplayUser</h2>
@if (@ViewBag.DeleteMessage == null)
{

}
else
{
    <p class="alert alert-danger">@ViewBag.DeleteMessage</p>
}
@if (@ViewBag.EditMessage == null)
{

}
else
{
    <p class="alert alert-success">@ViewBag.EditMessage</p>
}

<table border="1" class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Password</th>
        <th>InsertUserID</th>
        <th>InsertDate</th>
        <th>LastEditUser</th>
        <th>LastEditDate</th>
        <th>Action</th>
        @*<th></th>
            <th></th>*@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Code</td>
            <td>@item.Name</td>
            <td class="hidetext">@item.Password</td>
            <td>@item.InsertUserId</td>
            <td>@item.InsertDate</td>
            <td>@item.LastEditUser</td>
            <td>@item.LastEditDate</td>
            <td class="btn-default">
                @Html.ActionLink("Edit", "EditUser", new { idUser = item.ID }, new { @class = "glyphicon glyphicon-edit" })
                @Html.ActionLink("Delete", "DeleteUser", new { idUser = item.ID }, new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
    }
</table>
<a href="@Url.Action("Export", "User")">Export</a>

