﻿
@{
    ViewBag.Title = "EditUser";
    if (Session["Name"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

}
@model ThucTap.Models.User

<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <meta name="viewport" content="width-device-width" />
</head>
<body>

    <label>
        <a href="~/Home/Index">Home</a>
    </label>

    <form action="/User/EditUser" method="post">
        @if (ViewBag.EditMessage == null)
        {

        }
        else
        {
            <p class="alert alert-danger">
                @ViewBag.EditMessage
            </p>
        }
        @if (@ViewBag.EditMessageErro == null)
        {

        }
        else
        {
            <p class="alert alert-danger">@ViewBag.EditMessageErro</p>
        }
        <div class="idUser">
            ID: @Html.TextBoxFor(model => model.ID, new { @class = "form-control", @readonly = "true" })
        </div>
        <div>
            Code: @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = "true" })
        </div>
        <div>
            Name: @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div>
            Password: @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        </div>
        </br>
        <div>
            <input class="btn btn-success" type="submit" name="name" value="ADD" />
        </div>

        @*<label>@Session["Name"]</label>*@

    </form>


</body>
</html>


