﻿
@{
    ViewBag.Title = "Index";
    if (Session["Name"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
@*@model List<ThucTap.Models.UserModel>*@
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width-device-width" />
</head>
<body>
    <div class="hello">Hello: @Session["Name"]</div>
    <h1>Dashboard</h1>
    <div>
        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
    </div>
    <div>
        <a href="@Url.Action("AddUser", "User")">Add</a>
    </div>
    <div>
        <a href="@Url.Action("DisplayUser", "User")">See All User</a>
    </div>
    @{
        HttpApplicationState Online = HttpContext.Current.ApplicationInstance.Application;
    }
    <h1>online: @Online["OnlineUserCounter"]</h1>
    <h1> visit: @Online["SiteVisitedCounter"]</h1>
</body>
</html>
