﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-div {
    /*position:absolute;*/
    margin-left: 35%;
    margin-top: 15%;
    line-height: 2.5;
    padding: 10px 10px;
}

.sign-into{
    font-size: 25px;
    font-family: Arial;
    
}

.btn-success{
    width:300px;
    font-family: Consolas;

    /*letter-spacing: 20px;*/
}
div.hello{
    font-family:'Comic Sans MS';
    font-style:oblique;
    color:red;
}

.hidetext {
    -webkit-text-security: circle;
    
}
