﻿@model ThucTap.Models.User
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width-device-width"/>

</head>
<body>
    <div class="login-div">
       
        @using (Html.BeginForm("Autherise", "Login", FormMethod.Post))
        {

            <table class="body-content">
                <tr>
                    <td></td>
                    <td>
                        <label class="sign-into">Sign into your account</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @*@Html.LabelFor(model => model.Code)*@
                        @*<label>User Name</label>*@
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "UserName" } })
                    </td>
                </tr>

                <tr>
                    <td>
                        @*@Html.LabelFor(model => model.Password)*@
                        @*<label>Password</label>*@
                    </td>
                    <td>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                    </td>
                </tr>
                     
                <tr>
                    <td></td>
                    <td>
                        @if (ViewBag.LoginMessage == null)
                        {

                        }
                        else
                        {
                            <p class="alert alert-danger">@ViewBag.LoginMessage</p>
                        }
                        <input class="btn btn-success" type="submit" name="name" value="LOGIN" />
                        @*<input class="btn btn-danger" type="reset" name="name" value="Clear" />*@
                    </td>
                </tr>
            </table>
        }
    </div>

</body>
</html>

